body{
    background-color: black;
    font-family: sans-serif;
    color: white;
}


.card {
    background: coral;
    text-align: center;
    width: 900px;
    height: 400px;
    margin: auto;
    margin-top: 200px;
}

h1{
    padding-top: 10PX;
    font-size: 50px;
    margin: 0px;
}

h2{
    font-size: 40Px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
}
p{
    font-size: 30PX;
    padding:20px;
    background: lightcoral;
    text-align: justify;
}